[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="my_galera_cluster"
wsrep_cluster_address="gcomm://{{ groups['galera'] | join(',') }}"
wsrep_node_name="{{ inventory_hostname }}"
wsrep_node_address="{{ ansible_facts['default_ipv4']['address'] }}"
wsrep_sst_method=rsync
